/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$brand-primary: #ffd602;
$brand-secondary: #ffa100;

$error: #f80100;

$black: #000;
$white: #fff;

$gray: #222;
$gray-lighter: #272727;
